*{
    box-sizing: border-box;
  }
  body{
    /* margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato' !important; */

    background: linear-gradient(
            -45deg,
            #bdc3c7,
            #2c3e50,
            #c33764,
            #1d2671,
            #141e30,
            #6dd5ed
          );
          background-size: 400% 400%;
          animation: backgroundChange0 15s ease infinite;
        }
        
@keyframes backgroundChange0 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
        
}

#containerB7 {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

#containerB7::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -60%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate2 4s linear infinite;
}

#containerB7::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 10px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  /* background: white; */
  border-radius: 5px;
}

@keyframes rotate2 {
  100% {
    transform: rotate(0.5turn);
  }
}




.containerB {
  border: 10px solid rgb(255, 253, 223);
  /* border-radius: 10px;
  margin-right: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 380px;
  background-color: whitesmoke;
  font-family: "Yusei Magic", sans-serif;
  color: red;
  font-size: 35px;
  text-align: center; */
}



  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top: 50px;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }



  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }    


  /* .fa-search:before {
    content: "\f002"
} */
    
    #content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        
    
    }

    h1 {
        font-family: Oswald;
        font-size: 30px;
         animation: Color 4s linear infinite;
        -webkit-animation: Color 4s ease-in-out infinite;
        /* text-shadow: 10px 10px #F0F0F0; */
      }
      
      
    

    .search-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    #search {
        
    }


    img {
      object-fit: scale-down;
      max-width: 80vw;
      max-height: 80vh;
      /* box-shadow: -10px 10px #fbffe4; */
      border-radius: 25px;
      
  }

  

@media screen and (max-width: 767px) {

    #content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        min-height: 100vh;


        background: linear-gradient(
            -45deg,
            #bdc3c7,
            #2c3e50,
            #c33764,
            #1d2671,
            #141e30,
            #6dd5ed
          );
          background-size: 400% 400%;
          animation: backgroundChange0 15s ease infinite;
        }
        
        @keyframes backgroundChange0 {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        
    }
    
    .searchContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    
    /* img {
        object-fit: scale-down;
        max-width: 80vw;
        max-height: 80vh;
    } */

#background-image{
    background-position:20% 20%; 
    background-size:200px 400px;
}

}
